/* Remise à zero pour compatibilité des navigateur */
html,body,div,span,ul,li{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a {text-decoration:none;}



/* Menu DEROULANT */
#liste_player {
	margin :0px;
	padding:0px;
	list-style-type:none;
	position:absolute;
	top:8px;
}

#liste_player li {
	float:left;
	margin-left:12px;
	cursor:pointer;
}


#overlay {
	position: absolute;
	top: 0;
    left: 0px;
    display: block;
}




/* Pannel DEROULANT */
#cadre-menu {
	
	position:fixed;
	left:-175px;
	overflow:hidden;
	top:50px;
	width:217px; 
	font:10x Arial;
	height:90%;
}

#bordure-menu {	
	float:left;
	background-image:url('../images/titre5.png');
	
	width:147px;
	margin:0px;
	padding:10px;
	padding-top:15px;
	border:5px solid #999;
	border-left:none;
	height:90%;
}

#message {	
	padding-left:1px;
	background:white;
	height:85%;
	border:2px solid #999;
	overflow: auto; 
	white-space : pre-line;
}

#input_text {
margin-top:5px;
font-style:italic;
font-size:10 px;
width:143px;
height:22px;
color:#555;
border:2px solid #999;

}

#img-send {
margin-top:5px;
width:143px;
height:22px;
background: url('../images/btn-send.png') center no-repeat;
border-radius:30px
}

#bordure-menu ul {
	list-style: disc inside;
}

#bordure-menu ul li {
	padding-bottom:5px;
	color:#555;
}

#bouton-menu {
    text-align:center;
	font-weight : bold ;
	text-decoration: blink;
	color:red;
	float:right;
	width:45px;
	margin:0px;
	margin-top: 160px;
	height:165px;
	background:url('../images/fond-demo-menu-open.jpg')  bottom no-repeat;
}


#notre_frame{

	width:100%;
	height:100%;
	border : 0px;
	overflow:hidden;

}
/* Menu DEROULANT */

#cadre-user{

	position:fixed;
	right:-125px;
	overflow:hidden;
	top:33px;
	width:100px; 
	font:10x Arial;

	border:5px solid #999;
	margin:0px;
	padding:10px;
	padding-top:10px;
	background-image:url('../images/titre5.png');
	border-top:none;
	border-right:none;
}

#cadre-user ul li {
	padding-bottom:5px;
	color:#555;
}
#cadre-user ul {
	list-style: disc inside;
}


#cadre-video{
	
	position:fixed;
	
	overflow:hidden;
	top:33px;
	width:380px; 
	font:10x Arial;

	border:5px solid #999;
	
	padding:10px;
	padding-bottom:5px;
	padding-top:10px;
	left: 50%;
	margin-left: -190px;


	background-image:url('../images/titre5.png');
	border-top:none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 

}
#cadre-video button{
float:left;

}
#cadre-video-droit {
	
	margin-top: 10px;
	float:right;
}

.img-connect{
float : right;
width:143px;
height:22px;
background: url('../images/btn-connect.png') center no-repeat;

}

.img-select{
float : right;
width:143px;
height:22px;
background: url('../images/btn-select.PNG') center no-repeat;

}


.img-loading{
visibility : hidden;
float : right;
width:20px;
height:20px;
background: url('../images/loading.gif') center no-repeat;

}


#div_connection {
	width:300px;
	left: 50%;
	margin-left: -150px;
	z-index:2; 
	
	position:fixed; 
	top:40%; 
	background:white; 
	padding:15px; font-family:arial; 
	font-size:12px;
	box-shadow: 1px 1px 4px black;
	
}